html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body > header,
body > nav,
body > main,
body > footer {
  display: block;
  margin: 1rem auto;
  max-width: 33rem;
  padding: 0 1.5rem;
  text-align: left;
}

body > footer {
  margin-top: 2rem;
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

p {
  margin: 1rem 0;
}

ol, ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

.feedback {
  background-color: rgb(229, 239, 229);
  border: 1px solid darkgreen;
  border-radius: 0.25rem;
  color: darkgreen;
  margin: 1rem 0;
  padding: 0 1rem;
}

/* Hyperlinks */
a[href] { text-decoration: none; }
a[href]:hover { text-decoration: underline; }
a[href] img { border: none; }

@media print {
  body > header,
  body > main,
  body > footer {
    margin: 1rem 0;
    max-width: max-content;
    padding: 0;
  }

  body > nav, nav[role=navigation] {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: white;
  }
  a[href] { color: lightblue; }
  ins { color: lightgreen; }
  del { color: pink; }
}
